<div class="main-container">
    <div class="sub-container">
        <div class="logo-wrapper">
            <div class="logo">
                <span *ngIf="loader"><img src="../../assets/turntabl.gif" width="280px"></span>
                <span *ngIf="!loader"><img src="https://pbs.twimg.com/profile_images/1308038223910916097/0KJOLcaX_400x400.jpg" width="280px"></span>
            </div>
        </div>
        <div class="form-wrapper">
            <form>
                <span>TLC Testing System</span>
            </form>
            <button class="google" type="submit" (click)="onSubmit()"><span>Sign In</span></button>
        </div>
        
    </div>

</div>