<div class = "holder">
    <div class="image">
      <span><img src="https://pbs.twimg.com/profile_images/1308038223910916097/0KJOLcaX_400x400.jpg" width="280px"></span>
    </div>
    <div class="message">
        <span>You don't have access permission!</span>
    </div>
    <div class="dir">
      <span>Contact the administrator</span>
    </div>  
    <div class="name">
      <span>Turntabl Testing System</span>
  </div>
  <div class="button" (click)="backToLogin()">
    <span>Back</span>
  </div>
  </div>          
  