<div class="wrapper">
  <header class="sticky">
    <div class="container">
      <span class="logo">Turntabl Testing System</span>
      <nav>
        <ul>
          <li>
            <a>
              <div class="profile-top">
                <img
                  src="https://www.pngkit.com/png/detail/281-2812821_user-account-management-logo-user-icon-png.png"
                  width="25px"
                  alt="Profile"
                />
              </div>
            </a>
            <!-- First Tier Drop Down -->
            <ul>
              <li><a routerLink="/profile">profile</a></li>
              <li><a>logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>

<div class="subnav container col-md-10 mt-3 mb-4">
  <button
    type="button"
    class="btn btn-outline-info mr-4"
    routerLink="/take-test"
  >
    Take Test
  </button>
  <button
    type="button"
    class="btn btn-outline-info mr-4"
    routerLink="/view-result"
  >
    View Result
  </button>
  <button type="button" class="btn btn-outline-info" routerLink="/review-test">
    Review Test
  </button>
</div>

<div class="reserved">
  <router-outlet></router-outlet>
</div>
