<div *ngIf="loginService.isLogin()">
<div class="wrapper">
  <header class="sticky">
    <div class="container">
      <span class="logo">Turntabl Testing System</span>
      <nav>
        <ul>
          <li *ngIf="timerService.timeStart=='Exams Started'">
            <span class="timer">Time Left: </span><span class="time">{{ timerService.timeEnd }}</span>
          </li>&nbsp;
          <li>
            <li *ngIf="timerService.timeStart=='Exams has ended'">
              <span class="time-up">{{ timerService.timeEnd }}</span>
            </li>&nbsp;
            <li>
            <a>
              <div class="profile-top">
                <img src="{{ loginService.ok() }}" width="25px" alt="Profile" />
              </div>
            </a>
            <!-- First Tier Drop Down -->
            <ul>
              <li><a routerLink="/user-profile">profile</a></li>
              <li><a (click)="signOut()">logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>

<div class="center">
  <button type="button" class="btn btn-outline-info mr-4" routerLink="/user-dashboard">Dashboard</button>
  <button type="button" class="btn btn-outline-info mr-4" routerLink="/courses">Take Test</button>
  <button type="button" class="btn btn-outline-info mr-4" routerLink="/view-result">View Result</button>
  <button type="button" class="btn btn-outline-info" routerLink="/review-test">Review Test</button>
</div>
</div>

<div class="reserved">
  <router-outlet></router-outlet>
</div>