<div class="container main">
  <div class="header mt-3">
    <h4 class="text-info text-center">Test Title</h4>
  </div>

  <div class="rules mt-3 text-center">
    <p>
      Please answer the questions as well as you can, choosing one from the list
      of answers.
    </p>
  </div>

  <!-- Questions div -->
  <div class="main-question-div mt-5 mb-5">
    <div class="questions">
      <p>
        <span class="number mr-2">1</span> Which of the following functions
        receive the "this" pointer?
      </p>
    </div>
    <div class="options mt-4 mb-3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="option1"
        />
        <label class="form-check-label" for="inlineRadio1"
          >global functions</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="option2"
        />
        <label class="form-check-label" for="inlineRadio2"
          >member functions</label
        >
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio3"
          value="option3"
        />
        <label class="form-check-label" for="inlineRadio3"
          >friend functions</label
        >
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio3"
          value="option3"
        />
        <label class="form-check-label" for="inlineRadio3">All the above</label>
      </div>
    </div>
  </div>

  <div class="main-question-div mb-5">
    <div class="questions">
      <p>
        <span class="number mr-2">2</span> Which of the following best describes
        a reference variable?
      </p>
    </div>
    <div class="options mt-4 mb-3">
      <div class="form-check form-check">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="option1"
        />
        <label class="form-check-label" for="inlineRadio1"
          >A non constant pointer to data</label
        >
      </div>
      <div class="form-check form-check">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="option2"
        />
        <label class="form-check-label" for="inlineRadio2"
          >an alias for data</label
        >
      </div>
      <div class="form-check form-check">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio3"
          value="option3"
        />
        <label class="form-check-label" for="inlineRadio3"
          >A non constant pointer to constant data</label
        >
      </div>
      <div class="form-check form-check">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio3"
          value="option3"
        />
        <label class="form-check-label" for="inlineRadio3"
          >A constant pointer to constant data</label
        >
      </div>
    </div>
  </div>
  <div class="offset-5 submit-button">
    <button class="btn btn-outline-info" (click)="openTestDoneModal()">
      Submit Test
    </button>
  </div>
</div>
