<div class="container main">
  <div class="header mt-3">
    <h4 class="text-info text-center">{{testDetails.test_title}}</h4>
  </div>

  <div class="rules mt-3 text-center" *ngIf="testDetails.test_rules">
    <p>
      {{testDetails.test_rules}}
    </p>
  </div>

  <!-- Questions div -->
  <div class="main-question-div mt-5 mb-5" *ngFor="let question of questions;">
    <div class="questions">
      <p>
        <span class="number mr-2">1</span> 
          {{question.question}}
      </p>
    </div>
    <div *ngFor="let option of question.options;">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          [value]="option.optionId"
          (change)="onAnswerSelectionChange(option.optionId, question.questionId)"
        />
        <label class="form-check-label">{{option.option}}</label>
      </div>
    </div>
  </div>

  <div class="offset-5 submit-button">
    <button class="btn btn-outline-info" (click)="openTestDoneModal()">
      Submit Test
    </button>
  </div>
</div>
