<div class="container main">
  <div class="header mt-3">
    <h4 class="text-info">Review Test</h4>
  </div>

  <div class="main-table">
    <table class="table table-striped">
      <thead class="bg-info">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Test Title</th>

          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of allTests; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ result.test_title }}
          </td>

          <td>{{ result.test_date }}</td>
          <td><button class="btn btn-outline-info btn-sm">Review</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="back-button mt-5">
    <button class="btn btn-info" style="float: right">Go Back</button>
  </div>
</div>
