<div class="container main mt-5">
  <div class="content">
    <!-- Content -->
    <div class="row top-wrapper">

        <div class="test-info ml-3">
          <p>
            <span>Test Taken :  <span class="ml-2">10</span></span>
            <span style="position: relative; opacity: 0.7"
              ><i class="fas fa-scroll fa-1x icon ml-4"></i
            ></span>
          </p>
        </div>
  
        <div class="test-info-1">
          <p>
            <span>Courses :  <span class="ml-2">{{totalCourses}}</span></span>
            <span style="position: relative; opacity: 0.7"
              ><i class="fas fa-book fa-1x icon ml-5"></i
            ></span>
          </p>
        </div>

    </div>
    <!-- End of first row -->
    <div class="row mt-5">
      <div class="incoming-test">
        <p>
          <span>Incoming Test</span>
          <span class="ml-4"
            ><span style="opacity: 0.5">Date : </span>29/12/2020</span
          >
          <span class="ml-4"
            ><span style="opacity: 0.5">Time :</span> 11am</span
          >
          <span class="ml-4" style="position: relative; opacity: 0.7"
            ><i class="far fa-clock fa-1x icon"></i
          ></span>
        </p>
      </div>
    </div>
    <!-- End of second row -->
  </div>
  <!-- End of content -->
</div>
<!-- End of main -->
