<div class="container main mt-4">
  <div class="content">
    <!-- Content -->
    <div class="row top-wrapper">
      <div class="test-info-1">
        <div class="details">
          <span
            >Test Taken : <span class="ml-2">{{ totalTestTaken }}</span></span
          >
        </div>
        <div class="icon">
          <span style="position: relative; opacity: 0.2"
            ><i class="fas fa-scroll fa-3x icon ml-2"></i
          ></span>
        </div>
      </div>
      <div class="test-info-2">
        <div class="details">
          <span
            >Courses : <span class="ml-2">{{ totalCourses }}</span></span
          >
        </div>
        <div class="icon">
          <span style="position: relative; opacity: 0.2"
            ><i class="fas fa-book fa-3x icon ml-5"></i
          ></span>
        </div>
      </div>
    </div>
    <!-- End of first row -->
    <!-- <div class="row mt-3">
      <div class="incoming-test">
        <div class="details">  
        <span>Incoming Test</span>
          <span class="ml-4"><span style="opacity: 0.5">{{ this.timerService.timeStart }}</span></span>
        </div>
          <div class="icon">
            <span class="ml-4" style="position: relative; opacity: 0.2"><i class="far fa-clock fa-3x icon"></i></span>
          </div>
        </div>
    </div> -->
    <!-- End of second row -->
  </div>
  <!-- End of content -->
</div>
<!-- End of main -->
